<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquilaflycloud.mdc.mapper.MemberEventLogMapper">

  <sql id="Base_Column_List">
    id, member_id, business_type, business_id, event_type, event_time, create_time, tenant_id,
    sub_tenant_id, app_key
  </sql>

  <select id="selectLogCount" resultType="com.aquilaflycloud.mdc.result.member.MemberEventLogResult">
    select
    <include refid="Base_Column_List"/>, count(1) count_num
    from member_event_log ${ew.customSqlSegment}
  </select>

  <select id="selectLogSexAndAge" resultType="com.aquilaflycloud.mdc.result.member.MemberEventSexAndAgeResult">
    select
    sum( case when isnull( sex ) and isnull( wx_gender ) and isnull( ali_gender ) then 1 else 0 end ) sex_unknown_sum,
    sum( case when sex = 1 or (sex is null and wx_gender = 1) or (sex is null and ali_gender = 1) then 1 else 0 end ) sex_male_sum,
    sum( case when sex = 2 or (sex is null and wx_gender = 2) or (sex is null and ali_gender = 2) then 1 else 0 end ) sex_female_sum,
    sum( case when isnull( birthday ) then 1 else 0 end ) age_unknown_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) <![CDATA[<]]> 17 then 1 else 0 end ) age_below17_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) between 17 and 24 then 1 else 0 end ) age18_to24_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) between 25 and 29 then 1 else 0 end ) age25_to29_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) between 30 and 39 then 1 else 0 end ) age30_to39_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) between 40 and 49 then 1 else 0 end ) age40_to49_sum,
    sum( case when timestampdiff( year, birthday, curdate() ) <![CDATA[>]]> 50 then 1 else 0 end ) age_above50_sum
    from ( select * from member_event_log ${ew.customSqlSegment} ) member_event_log
    left join member_info member_info on member_event_log.member_id = member_info.id
    where member_info.id is not null
  </select>


</mapper>