<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquilaflycloud.mdc.mapper.PreActivityInfoMapper">


    <select id="getFolksonomy" resultType ="java.util.Map" parameterType="java.lang.Long">
        SELECT
        distinct info.id,info.name
        FROM
        `folksonomy_info` info
        LEFT JOIN `folksonomy_business_rel` ref
        ON ref.is_delete = 0 and info.id = ref.folksonomy_id
        WHERE ref.business_id = #{id}
    </select>

    <select id="getShopAndMember" resultType ="java.util.Map" >
        SELECT a.*, b.org_id,b.org_name,b.org_address FROM (
            SELECT o.activity_info_id, o.member_id, o.shop_id,
            m.id as memberId,m.real_name,m.sex,m.birthday,
            m.province,m.city,m.county,m.address,m.create_time
            FROM `pre_flash_order_info` o
            LEFT JOIN `member_info` m
            ON o.member_id = m.id
        ) a LEFT JOIN `pre_activity_qr_code_info` b
        ON a.activity_info_id = b.activity_id
        AND a.shop_id = b.org_id
    </select>


    <select id="getMembers" resultType ="java.util.Map" >
        SELECT o.activity_info_id, o.member_id, o.shop_id,o.shop_name,o.shop_address,
            m.id as memberId,m.real_name,m.sex,m.birthday,
            m.province,m.city,m.county,m.address,m.create_time,m.phone_number,m.nick_name
            FROM `pre_flash_order_info` o
            LEFT JOIN `member_info` m
            ON o.member_id = m.id
    </select>

    <select id="getPreActivityRefShopAndMember" resultType ="java.util.Map" >
        SELECT o.activity_info_id, o.member_id, o.shop_id,o.shop_name,o.shop_address,
            m.id as memberId,m.real_name,m.sex,m.birthday,
            m.province,m.city,m.county,m.address,m.phone_number,m.nick_name
        FROM (
	        SELECT distinct o.activity_info_id, o.member_id, o.shop_id,o.shop_name,o.shop_address
	        FROM `pre_order_info` o
	        WHERE activity_info_id is not null AND shop_id is not null
        ) o
        LEFT JOIN `member_info` m
        ON o.member_id = m.id
    </select>

    <select id="pageMemberOrder" resultType="com.aquilaflycloud.mdc.model.pre.PreActivityInfo">
        select pre_activity_info.*
        from pre_flash_order_info pre_flash_order_info
        join pre_activity_info pre_activity_info on pre_flash_order_info.activity_info_id = pre_activity_info.id
        where pre_flash_order_info.member_id = ${memberId}
        <if test="param.flashOrderState != null">
            <if test="param.flashOrderState.type == 0">
                and pre_flash_order_info.flash_order_state = 0
                and pre_flash_order_info.end_time <![CDATA[>=]]> now()
                and pre_activity_info.activity_state = 2
                and pre_activity_info.end_time <![CDATA[>=]]> now()
            </if>
            <if test="param.flashOrderState.type == 1">
                and pre_flash_order_info.flash_order_state = 1
            </if>
            <if test="param.flashOrderState.type == 2">
                and (pre_flash_order_info.flash_order_state = 0
                and (
                        pre_flash_order_info.end_time <![CDATA[<]]> now()
                        or pre_activity_info.activity_state = 4
                        or (pre_activity_info.activity_state = 2
                            and pre_activity_info.end_time <![CDATA[<]]> now())
                    )
                )
            </if>
        </if>
        order by pre_flash_order_info.create_time desc
    </select>
</mapper>
