<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquilaflycloud.mdc.mapper.ShopComplaintInfoMapper">
    <select id="statistics"
            resultType="com.aquilaflycloud.mdc.result.shop.ShopComplaintTopInfoResult">
        SELECT
			b.shop_name AS shopFullName,
			count(a.id) AS count
		FROM
			shop_complaint_info a
			LEFT JOIN shop_info b ON a.shop_id = b.id
		WHERE
			a.is_delete = '0'
			AND a.state = '2'
			AND ${_parameter}
		GROUP BY
			a.shop_id
		ORDER BY
			count DESC
			LIMIT 10
    </select>
</mapper>
