<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquilaflycloud.mdc.mapper.TicketVerificateInfoMapper">
  <resultMap id="BaseResultMap" type="com.aquilaflycloud.mdc.model.ticket.TicketVerificateInfo">
    <!--@mbg.generated-->
    <!--@Table ticket_verificate_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="out_order_no" jdbcType="VARCHAR" property="outOrderNo" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="settle_fee" jdbcType="DECIMAL" property="settleFee" />
    <result column="selling_fee" jdbcType="DECIMAL" property="sellingFee" />
    <result column="order_qty" jdbcType="INTEGER" property="orderQty" />
    <result column="ecode" jdbcType="VARCHAR" property="ecode" />
    <result column="url_ecode" jdbcType="LONGVARCHAR" property="urlEcode" />
    <result column="verificate_num" jdbcType="INTEGER" property="verificateNum" />
    <result column="verificate_times" jdbcType="INTEGER" property="verificateTimes" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="id_card_name" jdbcType="VARCHAR" property="idCardName" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="orderno_otaorderno_relation_id" jdbcType="BIGINT" property="ordernoOtaordernoRelationId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="sub_tenant_id" jdbcType="BIGINT" property="subTenantId" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="code_qty" jdbcType="INTEGER" property="codeQty" />
    <result column="code_cnt" jdbcType="INTEGER" property="codeCnt" />
    <result column="use_qty" jdbcType="INTEGER" property="useQty" />
    <result column="use_cnt" jdbcType="INTEGER" property="useCnt" />
    <result column="designate_org_ids" jdbcType="VARCHAR" property="designateOrgIds" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMap" type="com.aquilaflycloud.mdc.result.ticket.TicketVerificateResult">
    <result column="surplus_verificate_times" jdbcType="BIGINT" property="surplusVerificateTimes" />
    <result column="surplus_verificate_amount" jdbcType="VARCHAR" property="surplusVerificateAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    a.id, a.merchant_code, a.merchant_name, a.order_no, a.out_order_no, a.product_id, a.settle_fee,
    a.selling_fee, a.order_qty, a.ecode, a.url_ecode, a.verificate_num, a.verificate_times, a.start_date,
    a.end_date, a.mobile, a.id_card_name, a.id_card_no, a.orderno_otaorderno_relation_id, a.member_id,
    a.create_time, a.tenant_id, a.sub_tenant_id, a.channel_id, a.product_name,a.code_qty,a.code_cnt,a.use_qty,a.use_cnt,
    a.code_qty - a.use_qty surplus_verificate_times,(a.code_qty - a.use_qty) * a.settle_fee surplus_verificate_amount
  </sql>

  <select id="getUseCntByDate" parameterType="com.aquilaflycloud.mdc.param.ticket.TicketVerificatePageParam" resultType="com.aquilaflycloud.mdc.result.ticket.TicketVerificateChartResult">
    SELECT
    DATE_FORMAT( a.create_time, '%Y-%m-%d' ) date,sum( a.verificate_num ) verificateNum
    FROM ticket_verificate_info a
    LEFT JOIN ticket_product_info b ON a.product_id = b.product_id
    LEFT JOIN ticket_scenic_spot_info c ON b.scenic_spot_id = c.id
    LEFT JOIN ticket_order_info d ON a.orderno_otaorderno_relation_id = d.orderno_otaorderno_relation_id
    WHERE 1=1
    <if test='dataAuthParam.getAliasCompleteSql("a") != null'>
      AND ${dataAuthParam.getAliasCompleteSql("a")}
    </if>
    <if test="type != null">
      AND c.type = #{type}
    </if>
    <if test="mobile != null and mobile != ''">
      AND a.mobile like CONCAT('%',#{mobile},'%')
    </if>
    <if test="outOrderNo != null and outOrderNo != ''">
      AND a.out_order_no like CONCAT('%',#{outOrderNo},'%')
    </if>
    <if test="productName != null and productName != ''">
      AND a.product_name like CONCAT('%',#{productName},'%')
    </if>
    <if test="startDate != null">
      AND a.create_time <![CDATA[>=]]> #{startDate}
    </if>
    <if test="endDate != null">
      AND a.create_time <![CDATA[<=]]> #{endDate}
    </if>
    <if test="createTimeStart != null">
      AND d.create_time <![CDATA[>=]]> #{createTimeStart}
    </if>
    <if test="createTimeStart != null">
      AND d.create_time <![CDATA[<=]]> #{createTimeEnd}
    </if>
    <if test="minAmount != null">
      AND d.amount <![CDATA[>=]]> #{minAmount}
    </if>
    <if test="maxAmount != null">
      AND d.amount <![CDATA[<=]]> #{maxAmount}
    </if>
    <if test="status != null">
      AND d.status = #{status}
    </if>
    GROUP BY DATE_FORMAT( create_time, '%Y-%m-%d' )
  </select>
</mapper>