<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquilaflycloud.mdc.mapper.TicketProductInfoMapper">
    <update id="updateBatchByIds">
        UPDATE ticket_product_info SET state='2' WHERE id IN
        <foreach collection="ticketProductInfoList" item="item" index="index" open="(" separator="),(" close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="getSalesProductOrderInfo"
            resultType="com.aquilaflycloud.mdc.result.ticket.ProductInfoSaleOrderSumResult"
            parameterType="com.aquilaflycloud.mdc.param.ticket.ProductInfoSalesOrderParam">
        SELECT FROM_UNIXTIME(UNIX_TIMESTAMP(d.time),'%Y-%m-%d') AS date, d.scenic_spot_name AS scenicSpotName, d.product_name AS productName, d.type, d.orderCount, d.amount, d.memberCount, convert(d.amount/d.memberCount,decimal(10,2)) AS average
        FROM(SELECT p.scenic_spot_name, p.product_name, p.scenic_spot_type, p.type,
        FROM_UNIXTIME(UNIX_TIMESTAMP(o.create_time),'%Y-%m-%d') AS time,
        COUNT(DISTINCT o.orderno_otaorderno_relation_id) AS orderCount,
        SUM(o.amount) AS amount, COUNT(DISTINCT o.member_id) AS memberCount
        FROM ticket_order_info o
        LEFT JOIN ticket_product_info p ON o.product_id=p.product_id
        WHERE o.`status` not IN (0, 40)
        <if test="param2.productType != null">
            <choose>
                <when test="param2.productType.type == 3">
                    AND p.type = '0'
                </when>
                <otherwise>
                    AND p.scenic_spot_type = #{param2.productType.type}
                    AND p.type = '1'
                </otherwise>
            </choose>
        </if>
        <if test="param2.startDate != null">
            AND o.create_time >= #{param2.startDate}
        </if>
        <if test="param2.endDate != null">
            AND o.create_time  <![CDATA[<=]]>  #{param2.endDate}
        </if>
        <if test="param3 != null and param3 != ''">
            AND ${param3}
        </if>
        GROUP BY p.scenic_spot_type, p.product_id, p.type, FROM_UNIXTIME(UNIX_TIMESTAMP(o.create_time),'%Y-%m-%d')
        ORDER BY o.create_time DESC, p.scenic_spot_type) d
    </select>
</mapper>
